.cards-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  z-index: 100;
}

.cards {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  padding: 50px 15px 25px;
  width: calc(100% / 3);
  font-weight: 600;
  text-transform: uppercase;
  font-size: 25px;
  color: #604c70;
  background-color: #d7d48e;

  &:nth-child(2) {
    color: #d6c6ce;
    background-color: #323131;

    :nth-child(3) {
      background-color: #d6c6ce;
    }
  }

  &:nth-child(3) {
    color: #887f70;
    background-color: #abd5dc;

    :nth-child(3) {
      background-color: #887f70;
    }
  }
}

.cards span {
  padding-bottom: 20px;
}

.cards-icon {
  align-self: flex-end;
  padding-right: 10px;
  margin-top: -40px;
  width: 3vw;
  padding: 0.7vw 0.8vw;
  border-radius: 1.2vw;
}

.cards-icon-1 {
  background-color: #604c70;
}

.cards-icon-2 {
  background-color: #d6c6ce;
}

.cards-icon-3 {
  background-color: #887f70;
}

.cards-beer {
  width: 30vw;
}
