footer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 200px 35px 30px 35px;
}

.footer-left {
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
  gap: 25px;
}

.footer-left div:nth-of-type(1) {
  display: flex;
  flex-flow: column wrap;
  gap: 10px 20px;

  a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
  }
}

.footer-left div:nth-of-type(2) {
  display: flex;
  flex-flow: row wrap;
  gap: 20px 20px;
}

.footer-left div img {
  max-width: 40px;
  max-height: 40px;
}

.footer-right {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
}

.footer-right div {
  display: flex;
  flex-flow: column wrap;
  gap: 10px;

  div {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }

  span {
    font-size: 20px;
    text-transform: uppercase;
  }

  input {
    padding: 10px 15px;
  }

  input:nth-child(1) {
    background-color: var(--color-1);
    color: var(--color-2);
    border: none;
    outline: none;
    font-size: 14px;

    &::placeholder {
      text-transform: uppercase;
      color: var(--color-2);
      opacity: 0.5;
    }
  }

  input:nth-child(2) {
    background-color: transparent;
    color: var(--color-1);
    border: 2px var(--color-1) solid;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
  }
}

.footer-copyright {
  display: flex;
  justify-content: flex-end;
  opacity: 0.5;
}
