.nav {
  position: fixed;
  left: 30px;
  right: 30px;
  top: 30px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  z-index: 9;
}

.nav-right-elements {
  display: flex;
  align-items: center;
  gap: 28px;
}

.nav-lang {
  display: flex;
  flex-flow: row wrap;
  font-size: 20px;
  gap: 5px;
}

.nav-icons {
  display: flex;
  flex-flow: row wrap;
  gap: 28px;
}
