.nav {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  padding: 20px 30px 20px 30px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  z-index: 9;
  background-color: rgba(236, 227, 209, 0.1);
  backdrop-filter: blur(10);
  transition: background-color 0.5s ease;
  align-items: center;
}

.nav-background {
  background-color: transparent;
  backdrop-filter: blur(0);
  pointer-events: none;
}

.nav-right-elements {
  display: flex;
  align-items: center;
  gap: 28px;
  transition: color 0.4s ease, filter 0.4s ease;
  pointer-events: all;
}

.nav-right-elements div div:nth-child(2),
.nav-right-elements div div:nth-child(4) {
  pointer-events: none;
}

.nav-lang {
  display: flex;
  flex-flow: row wrap;
  font-size: 20px;
  gap: 5px;
}

.nav-icons {
  display: flex;
  flex-flow: row wrap;
  gap: 28px;
}

/* burger menu */
.nav-burger-menu {
  position: fixed;
  right: 0;
  top: 82px;
  padding: 55px 40px 35px;
  height: calc(100vh - 100px);
  font-size: 20px;
  font-family: "proxima-nova";
  font-weight: 700;
  text-transform: uppercase;
  background-color: rgba(236, 227, 209, 0.1);
  backdrop-filter: blur(10);
  z-index: -1;
  transform: translateX(0);
  opacity: 1;
  transition: transform 0.6s ease, opacity 0.2s ease, color 0.4s ease;

  ul {
    display: flex;
    flex-flow: column wrap;
    gap: 100px;
    list-style: none;

    li {
      text-decoration: underline 1.5px transparent;
      transition: text-decoration 0.2s ease-in;

      &:hover {
        text-decoration: underline 1.5px;
        cursor: pointer;
      }
    }
  }
}

.nav-is-hidden {
  transform: translateX(400px);
  opacity: 0;
}

.nav-burger-icon {
  pointer-events: all;
  width: 38px;
  height: 42px;
  position: relative;

  &:hover {
    cursor: pointer;
  }
}

.nav-burger-icon div {
  position: absolute;
  width: 100%;
  height: 4px;
  background: #000;
}

.nav-burger-icon div:nth-child(1) {
  top: 4px;
  transition: transform 0.3s ease;
}

.nav-burger-icon div:nth-child(2) {
  top: 19px;
  transition: opacity 0.3s ease;
}

.nav-burger-icon div:nth-child(3) {
  top: 35px;
  transition: transform 0.3s ease;
}

.nav-open div:nth-child(1) {
  transform: translateY(15.5px) rotate(45deg);
}

.nav-open div:nth-child(2) {
  opacity: 0;
}

.nav-open div:nth-child(3) {
  transform: translateY(-15.5px) rotate(-45deg);
}

.nav-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  backdrop-filter: blur(0px);
  z-index: 2;
  pointer-events: none;
  display: none;
}

.nav-active-overlay {
  backdrop-filter: blur(5px);
  display: block;
  z-index: 7;
}

.nav-dark-mode {
  color: var(--color-1);
  filter: brightness(0) saturate(100%) invert(79%) sepia(5%) saturate(392%)
    hue-rotate(277deg) brightness(99%) contrast(101%);
}

.burger-menu-dark-mode {
  color: var(--color-1);
}

.nav-lang div {
  transition: 0.3s ease;
  text-decoration: underline 2px transparent;

  &:hover {
    color: var(--color-1);
    scale: 1.05;
    cursor: pointer;
    text-decoration: underline 2px var(--color-1);
  }
}

.nav-icons img:nth-child(1),
.nav-icons img:nth-child(2) {
  transition: 0.3s ease;
}

.nav-icons img:nth-child(1):hover,
.nav-icons img:nth-child(2):hover {
  cursor: pointer;
  scale: 1.05;
}
