.valeurs {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  padding-top: 520px;
  padding-bottom: 3000px;
  justify-content: space-between;
  color: var(--color-1);
  text-align: center;
  position: relative;
}

.valeurs-background {
  width: 100vw;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: -1;
}

.valeurs-background-1 {
  filter: invert(96%) sepia(38%) saturate(679%) hue-rotate(352deg)
    brightness(84%) contrast(89%);
}

.valeurs-background-2 {
  filter: invert(0%) sepia(8%) saturate(19%) hue-rotate(323deg) brightness(97%)
    contrast(83%);
}

.valeurs-background-3 {
  filter: invert(64%) sepia(16%) saturate(366%) hue-rotate(142deg)
    brightness(96%) contrast(86%);
}

.valeurs-image {
  width: 42vw;
  z-index: -1;
  display: block;
}

.valeurs-text {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  gap: 30px;
  font-size: 40px;
  font-weight: 400;
}

.valeurs-text img {
  max-height: 100px;
  max-width: 100px;
  margin-bottom: 40px;
}

.valeurs-text span:nth-child(1) {
  width: 700px;
  text-transform: uppercase;
}

.valeurs-slide-1 span:nth-child(2) {
  padding-bottom: 130px;
}

.valeurs-slide-2 span:nth-child(1),
.valeurs-slide-3 span:nth-child(1),
.valeurs-slide-4 span:nth-child(1) {
  font-family: "proxima-nova";
  font-weight: 700;
}

.valeurs-slide-2 span:nth-child(2),
.valeurs-slide-3 span:nth-child(2),
.valeurs-slide-4 span:nth-child(2) {
  font-size: 20px;
  padding-bottom: 60px;
  width: 375px;
}

.valeurs-slide-final span:first-child {
  width: 710px;
  padding-bottom: 30px;
}

.valeurs-buttons {
  display: flex;
  flex-flow: row wrap;
  gap: 30px;
  font-size: 20px;
}

.valeurs-slide-2,
.valeurs-slide-3,
.valeurs-slide-4,
.valeurs-slide-final {
  position: absolute;
  top: 180px;
}

.valeurs-slide-1,
.valeurs-slide-final {
  position: absolute;
  top: 240px;
}

.valeurs-slide-2,
.valeurs-slide-3,
.valeurs-slide-4,
.valeurs-slide-final {
  opacity: 0;
}

.valeurs-slide-3 span:nth-child(2) {
  padding-bottom: 50px;
}

.valeurs-slide-3 img {
  width: 70px;
}

.valeurs-image-hidden {
  opacity: 0;
  position: absolute;
}

.valeurs-icon-1 {
  filter: brightness(0) saturate(100%) invert(33%) sepia(13%) saturate(1161%)
    hue-rotate(230deg) brightness(91%) contrast(91%);
}

.valeurs-icon-2 {
  filter: brightness(0) saturate(100%) invert(79%) sepia(5%) saturate(392%)
    hue-rotate(277deg) brightness(99%) contrast(101%);
}

.valeurs-icon-3 {
  filter: brightness(0) saturate(100%) invert(35%) sepia(17%) saturate(464%)
    hue-rotate(357deg) brightness(94%) contrast(92%);
}
